@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background-color: #09090b;
}

/* Previne zoom automático em inputs no iOS */
input,
select,
textarea {
  font-size: 16px;
}

@media (min-width: 640px) {
  input,
  select,
  textarea {
    font-size: inherit;
  }
}